#header {
    grid-area: h;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    color: black;;
}

#nav {
    grid-area: n;
    background-color: cornflowerblue;
    height: 40px;
    line-height: 40px;
    display: flex;
}

.menu-item {
    color: white;
    border-right: 1px solid black;
    width: 100px;
    text-align: center;
}

#content {
    grid-area: c;
}

.col-left {
    float: left;
    width: 25%;
    background-color:#aaa;
    height: 300px;
}

.col-middle {
    float: left;
    width: 50%;
    background-color:#bbb;
    height: 300px;
}

.col-right {
    float: left;
    width: 25%;
    background-color:#ccc;
    height: 300px;
}

#footer {
    grid-area: f;
    background-color: cornflowerblue;
    text-align: center;
    font-weight: bold;
    color: white;;
}

#container {
    display: grid;
    grid-template-areas: 
    'h h h h'
    'h h h h'
    'n n n n'
    'c c c c'
    'c c c c'
    'c c c c'
    'f f f f'
    'f f f f';
}

@media screen and (max-width: 600px) {
    #nav {
        grid-area: n;
        background-color: cornflowerblue;
        line-height: 40px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #content {
        grid-area: c;
        display: flex;
        flex-direction: column;
    }

    .col-left {
        width: 100%;
        background-color:#aaa;
        height: 300px;
    }
    
    .col-middle {
        width: 100%;
        background-color:#bbb;
        height: 300px;
    }
    
    .col-right {
        width: 100%;
        background-color:#ccc;
        height: 300px;
    }
}